doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="css/techsnippet.css")
		script(src="js/techsnippet.js")
		link(href='https://fonts.googleapis.com/css?family=Lora',rel='stylesheet',type='text/css')
		meta(name="viewport",content="width=device-width,initial-scale=1")
	body.default-background
		.aboutpage
			nav.menubar
				.closecontainer(ontouchstart="this.classList.toggle('hover');")
					.close
						.closefront
						.closeback
			article
				h1.aboutpagetext="About"
				p.aboutpagetext="I am a software architect and developer with 12+ years of experience. In Tech Snippet, I will write about Java technologies, Cloud and UI technologies from time to time."
				p.signature
					a(href="https://in.linkedin.com/in/saptarshibasu")="- Saptarshi Basu"
		.indexpage
			img.frontpage(src="img/frontimage.jpg")
			nav.menubar
				.menucontainer(ontouchstart="this.classList.toggle('hover');")
					.menu
						.menufront
						.menuback
			article.frontbanner
				h1.frontheader="Tech Snippet"
				p.fronttext="EXPLORING TECHNOLOGIES"
				br
				a(href="explore.html")
					.explorebutton
						p="Explore"
		script.
			<!-- Google Analytics -->
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-81797409-1', 'auto');
			ga('send', 'pageview');
