doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="css/techsnippet.css")
		script(src="js/techsnippet.js")
		link(href='https://fonts.googleapis.com/css?family=Lora',rel='stylesheet',type='text/css')
		meta(name="viewport",content="width=device-width,initial-scale=1")
	body.default-background
		.aboutpage
			.menubar
				.closecontainer(ontouchstart="this.classList.toggle('hover');")
					.close
						.closefront
						.closeback
			h1.aboutpagetext="About"
			p.aboutpagetext="I am passionate about Java technologies, UI technologies and Cloud. In Tech Snippet, I will post my learnings from time to time."
			p.signature
				a(href="https://in.linkedin.com/in/saptarshibasu")="- Saptarshi Basu"
		.indexpage
			img.frontpage(src="img/frontimage.jpg")
			.menubar
				.menucontainer(ontouchstart="this.classList.toggle('hover');")
					.menu
						.menufront
						.menuback
			.frontbanner
				h1.frontheader="Tech Snippet"
				p.fronttext="EXPLORING TECHNOLOGIES"
				br
				br
				br
				a(href="explore.html")
					.explorebutton
						p="Explore"
				