doctype html
html(lang="en")
	head
		title="Tech Snippet"
		link(rel="stylesheet",href="../css/explore.css")
		link(href='https://fonts.googleapis.com/css?family=Lora',rel='stylesheet',type='text/css')
		meta(name="viewport",content="width=device-width,initial-scale=1")
		script(src="../js/explore.js")
	body.default-background
		.exploreheader
			a.headertext(href="../index.html")="Tech Snippet"
			input.searchtext(type="text", name="search", placeholder="Search..")
		.content
			#article.article
				p Post no. - 1, Date - 23-Jul-2016
				h1="How to run ES6 code on browser using Babel, Grunt and Browserify"
				h5="ES6 or ECMAScript 2015, released in June 2015, brings in many amazing features and syntax in javascript. Not all of these new features are currently supported by today's web browsers. However, even in the absence of complete browser support, it is a good idea to start writing javascript using the ES6/ES7 features."
				p="There are two reasons for this:"
				ol
					li="ES6/ES7 syntax promotes cleaner and maintainable code"
					li="The support for ES6/ES7 in the browsers is just a matter of time"
				p="Therefore we can use a transpiler like Babel to translate the ES6 syntax to ES5 syntax which is supported by the browsers. In this article, I'll show how to do that. I'll use the following tools for this purpose:"
				ol
					li <a href='https://www.npmjs.com/'>npm</a> - It helps in managing the project dependencies.
					li <a href='http://gruntjs.com/'>Grunt</a> - It is a task runner that automates the repetitive tasks such as transpiling java script, minifying javascript, minifying css etc.
					li <a href='https://babeljs.io/'>Babel</a> - It transpiles next generation java script code (written in ES6/ES7) to older version javascript (ES5) which is suported by all browsers. Thus it allows us to write next generation javascript syntax and functions today even in the absence of complete browser support for these new language features.
					li <a href='http://browserify.org/'>Browserify</a> - The Babel output doesn't run in browsers directly. The Babel output is still moduler - there is a one-to-one mapping between our source module files with the output files created by Babel. However, Babel uses the require() method call to support this modular approach. The require() function call comes from the CommonJs module specification which is implemented by NodeJs. Thus the Babel output is supported by NodeJs, but not by the browsers which don't implement CommonJs specification. Browserify, comes to our aid here - it combines all the module files to one single file and translates the require() calls to browser compatible code.
				p With this much background, we'll now get our hands dirty and do a small project.
				p Step 1: Install <a href="https://nodejs.org/en/">NodeJs</a>. This will automatically install npm.
				p Step 2: Create a project folder "testproject" and change to that diretory.
				p Step 3: Go to the command line and execute the following commands:
				.code
					p npm init
					p npm install grunt --save-dev
					p npm install grunt-babel --save-dev
					p npm install babel-preset-es2015 --save-dev
					p npm install grunt-browserify --save-dev
				p Step 4: Create the javascript file foo.js at the location testproject/src/js/
				p Step 5: Create the javascript file bar.js at location testproject/src/js/
				p Step 6: Create the html file index.html at location testproject/
				p Step 7: Create the grunt file Gruntfile.html at location testproject/
				script.comment(src="https://gist.github.com/saptarshibasu/6343c522cff62c51275dc2420fed5ea9.js")
				p Step 8: Build the project by running the following command at location testproject/
				.code
					p grunt build
				p Step 9: Open in a browser index.html at location testproject/ and check the output in browser console. The ouput should be as below:
				.code
					p Bar called
					p Foo called
				#disqus_thread.comment
					script.
							var disqus_config = function () {
								this.page.url = "http://techsnippet.online/articles/how_to_run_es6_code_on_browser.html";
								this.page.identifier = "how_to_run_es6_code_on_browser";
							};
							(function() {
								var d = document;
								s = d.createElement('script');
								s.src = 'http://techsnippet.disqus.com/embed.js';
								s.setAttribute('data-timestamp', new Date());
								d.getElementById("article").appendChild(s);
							})();
					noscript
						Please enable JavaScript to view the a(href="https://disqus.com/?ref_noscript")="comments powered by Disqus."
